.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Classe unique pour masquer n'importe quel élément */
.hidden {
    display: none !important;
}

.modal-window {
    width: 630px;
    height: 688px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-close i {
    font-size: 18px;
}

.modal-container h2 {
    margin-top: 60px;
    margin-bottom: 46px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

.modal-gallery {
    width: 420px;
    height: 365px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    row-gap: 0;
}

.modal-gallery img {
    width: 76px;
    height: 102px;
    object-fit: cover;
}

.modal-window hr,
.modal-add hr {
    width: 420px;
    margin: 47px auto 38px;
    border: none;
    border-top: 1px solid #B3B3B3;
}

.modal-add-btn {
    width: 237px;
    height: 36px;
    margin: 0 auto;
    border: none;
    border-radius: 60px;
    background: #1D6154;
    color: #fff;
    font-family: "Syne";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.modal-gallery figure {
    display: flex;
    position: relative;
}

.modal-gallery button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

.modal-gallery i {
    font-size: 10px;
    filter: invert(1);
}

/* ---------------- MODAL AJOUT ---------------- */

.modal-add {
    width: 630px;
    height: 688px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-back {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 24px;
    height: 24px;
    font-size: 21px;
    font-weight: 300;
    border: none;
    background: transparent;
    cursor: pointer;
}
#validate {
    padding-bottom: 10px;
    font-size: 20px;
}
.modal-add form {
    width: 420px;
    display: flex;
    flex-direction: column;
}

.modal-add form > label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.modal-add form > label > input,
.modal-add form > label > select {
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0,0,0,.09);
}

.upload-area {
    width: 420px;
    height: 169px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(232,241,246);
}

.upload-area i {
    font-size: 76px;
    color: rgb(185,197,204);
}

.upload-area label {
    width: 173px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(185,197,204);
    border-radius: 50px;
    color: rgb(48,102,133);
}

.upload-area p {
    font-size: 10px;
}

.modal-add hr {
    margin: 20px 0 30px;
}

.modal-add form > button {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    border: none;
    align-self: center;
    background: #1D6154;
    color: #fff;
    font-family: "Syne";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.modal-add form > button:disabled {
    background: rgb(167,167,167);
    cursor: not-allowed;
}

#preview-img {
    width: 129px;
    height: 169px;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#validate {
    align-self: center;
}

