.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.modal-window {
    width: 630px;
    height: 688px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-close i {
    font-size: 18px;
}

.modal-window h2 {
    margin-top: 60px;
    margin-bottom: 46px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}

.modal-gallery {
    width: 420px;
    height: 365px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    row-gap: 0;
}

.modal-gallery img {
    width: 76px;
    height: 102px;
    object-fit: cover;
}

.modal-window hr {
    width: 420px;
    margin: 47px auto 38px;
    border: none;
    border-top: 1px solid #B3B3B3;
}

.modal-add-btn {
    width: 237px;
    height: 36px;
    margin: 0 auto;
    border: none;
    border-radius: 60px;
    background: #1D6154;
    color: #fff;
    font-family: "Syne";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.modal-gallery figure {
    display: flex;
    position: relative;
}

.modal-gallery button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    background-color: black;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

.modal-gallery i {
    font-size: 10px;
    filter: invert(1);
}